/* main background color = #E5E5E5  */

/* Hero background color = #2F303A */
/* Hero text color = #FFFFFF */

/* Team section bg color =  */

/* header color =  #FFFFFF*/
/* footer color = #2F303A */

/* <h1,h2.h3> and button text color - main text color = #212121 */
/* <p> text color and mailto: with tel: = #757575 */

/* button text accent = #FFFFFF  */
/* button bg color = #F5F4FA */
/* button here bg color:hover = #188CE8 */

/* main accent color = #2196F3 */
/* logo Studio accent = #000000 */

:root   {
    --main-bg-color: #FFFFFF;
    --footer-bg-color: #2F303A;
    --hero-bg-color: #2F303A;
    --hero-text-color: #FFFFFF;
    --main-accent-color: #2196F3;
    --logo-studio-color: #000000;
    --main-text-color: #212121;
    --p-text-color: #757575;
    --button-text: #212121;
    --button-bg-color: #F5F4FA;
    --button-hero-bg-color_hover: #188CE8;
    --button-accent-text-color: #FFFFFF;
    --team-section-bg-color: #F5F4FA;
    --portfolio-cards-border-color: #EEEEEE;
    
}

*,
::before,
::after {
    box-sizing: border-box;
}

/* Universal style reset */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    }

img {
    display: block;
}


/* Common components */

.site-body {
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

    background-color: var(--main-bg-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
/* logo */

.header {
    padding-top: 24px;
    padding-bottom: 24px;

    background-color: var(--main-bg-color);
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo-header {
    margin-right: 94px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    text-decoration: none;
}

.logo-header .left {
    color: var(--main-accent-color);
}

.logo-header .right {
    color: var(--logo-studio-color);
}

/* mailto */
.mailto {
    display: flex;
    align-items: center;
    
    color: var(--p-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }

.mailto-items {
    margin-right: 50px;
}

.mailto .link {
    color: var(--p-text-color);
    text-decoration: none;
}

.mailto .link:focus,
.mailto .link:hover {
    color: var(--main-accent-color);
}

.site-nav {
    display: flex;
    align-items: center;
    margin-right: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }

.site-nav .link {
    color: var(--main-text-color);
    text-decoration: none;
    }

.site-nav .link.current {
    color: var(--main-accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--main-accent-color);
}

.site-nav-items:not(:last-child) {
    margin-right: 50px;
    
}
/* main page */

.main {
    background-color: var(--main-bg-color);
}

/* main - Hero */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--hero-bg-color);
}

/* .header-container {
    padding-top: 200px;
    padding-bottom: 200px;
} */

.hero .title {
    margin-bottom: 32px;

    display: block;

    color: var(--hero-text-color) ;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.hero .button {

    display: block;

    min-width: 200px;
    padding: 10px 10px;
    margin-right: auto;
    margin-left: auto;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;

    background-color: var(--main-accent-color);
    color: var(--button-accent-text-color);
    border-radius: 4px;
    border-color: transparent;
   }

.hero .button:focus,
.hero .button:hover {
    background-color: var(--button-hero-bg-color_hover);
} 


/* main sections - common class for sections */

.section {
    padding-top: 94px;
    /* padding-bottom: 94px; */
}

.section-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-text {
    color: var(--p-text-color);
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.benefits-title-hidden {
    display: none;
    margin-bottom: 50px;
    text-align: center;
}

.benefits-list-item {
    margin-left: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 120px)/4);
}

.benefits-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits .section-text {
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.71;
    }

.works {
    padding-bottom: 94px;
}

.works-list {
    display: flex;
    justify-content: space-between;
}

.team { 
    padding-bottom: 94px;
    background-color: var(--team-section-bg-color); 
}    

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30 px;
}

.team-list .section-text {
    /* color: var(--p-text-color); */
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-list .title {
    margin-bottom: 10px;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list-card {
    flex-basis: calc((100% - 120px)/4);
    margin-right: 30px;
    margin-bottom: 30px;
}

.team-list-content-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;

    background: var(--main-bg-color);
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); */
    border: 1px solid var(--main-bg-color);
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

/* Portfolio.css */

.portfolio-section {
    padding-bottom: 94px;
}

.button {
    color: var(--button-text);
    background-color: var(--button-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    border-color: transparent;
   }

.button:focus,
.button:hover {
    background-color: var(--main-accent-color);
    color: var(--button-accent-text-color);
}

.section-title-hidden {
    display: none;
}

.projects-nav-item > .button{
    padding: 6px 22px;
    border-radius: 4px;
}

.projects-nav {
    display: flex;
    justify-content: center;
    
    margin-bottom: 50px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    
    margin-left: -30px;
    margin-top: -30px;
}

.projects-nav-item:not(:last-child) {
    margin-right: 8px;
}

.projects-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px)/3);
}

.projects-list-content-wrapper {
    padding: 20px 24px;
    
    border: 1px solid var(--portfolio-cards-border-color);
    border-top: none;
}

.projects-list .title {
    margin-bottom: 4px;

    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.projects-list .section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

/* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--footer-bg-color);
}

.logo-footer {
    display: inline-block;
    margin-bottom: 20px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-footer .left {
    color: var(--main-accent-color);
}
.logo-footer .right {
    color: var(--button-accent-text-color);
}

.footer .link {
    color: rgb(255, 255, 255, 0.6);
    font-style: normal;
    /* text-decoration: none; */
}
.footer .address {
    display: inline-block;
    margin-bottom: 9px;

    color: var(--button-accent-text-color);
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.mailto-footer-list {
    font-weight: 400;
    line-height: 1.71;
}

.mailto-footer-list-items:not(:last-child) {
    margin-bottom: 9px;
}